@model Honeypot.ViewModels.Bookshelf.BookshelfDetailsViewModel

<div class="col-md-8 col-sm-offset-2" style="background-color: #c2daff;">
    <div class="form-group">
        <h1 class="text-center text-capitalize" style="font-family: Comic Sans MS, serif">@Model.Title</h1>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <p class="text-left"><b>Books Count: @Model.BooksCount</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-right"><b>Owner: <a asp-controller="Account" asp-action="Profile">@Model.UserNickname</a></b></p>
        </div>
    </div>
    <hr class="blackHrLine" />
    <div class="form-group">
        <h4><b>Books</b></h4>
        <hr class="blackHrLine" />
    </div>
    <div>
        <div class="form-group">
            @foreach (var bookshelfBook in @Model.Books)
            {
                <div class="form-group row">
                    <div class="col-md-6"><i>@bookshelfBook.Book?.Title</i> by @bookshelfBook.Book?.Author?.FirstName @bookshelfBook.Book?.Author?.LastName</div>
                </div>
                <div><a asp-controller="Book" asp-action="Details" asp-route-id="@bookshelfBook.Book?.Id">See more...</a></div>
            }
        </div>
    </div>
</div>