@model Honeypot.ViewModels.Bookshelf.BookshelfDetailsViewModel

<div class="col-md-8 col-sm-offset-2">
    <div class="form-group">
        <h1 class="text-center text-capitalize title">@Model.Title</h1>
    </div>
    <hr class="black-line" />
    <div class="form-group row">
        <div class="col-md-6">
            <p class="text-left"><b>Books in this bookshelf: @Model.BooksCount</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-right"><b>Owner: <a class="black-link" asp-controller="Account" asp-action="Profile">@Model.UserNickname</a></b></p>
        </div>
    </div>
    <br />
    <div class="form-group">
        <h4><b>Books</b></h4>
        <hr class="black-line" />
    </div>
    @{
        int count = 1;
    }
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">View</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookshelfBook in @Model.Books)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td><i>@bookshelfBook.Book.Title</i></td>
                    <td>@bookshelfBook.Book.Author.FirstName @bookshelfBook.Book.Author.LastName</td>
                    <td><a class="black-link" asp-controller="Book" asp-action="Details" asp-route-id="@bookshelfBook.Book.Id">Details</a></td>
                    <td><a class="black-link" asp-controller="Bookshelf" asp-action="RemoveFromBookshelf" asp-route-bookshelfId="@bookshelfBook.Bookshelf.Id"
   asp-route-bookId="@bookshelfBook.Book.Id">Remove</a></td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>