@model Honeypot.ViewModels.Bookshelf.MyBookshelvesViewModel

@{
    ViewData["Title"] = "My Bookshelves";
}

<div class="form-group col-md-6 col-md-offset-2">
    <h2>@ViewData["Title"]</h2>
    <hr class="black-line" />
    @foreach (var bookshelf in @Model.Bookshelves)
    {
        <div class="row">
            <div class="col-md-6"><a class="black-link" asp-controller="Bookshelf" asp-action="Details" asp-route-id="@bookshelf.Id">@bookshelf.Title</a></div>
            <div class="col-md-6" style="text-align: right"><em>@bookshelf.Books.Count Books in Collection</em></div>
        </div>
        <br/>
    }
</div>