@using Honeypot.ViewModels.Account
@model Honeypot.ViewModels.Account.ProfileViewModel

<div class="form-group">
    <h1>@Model.Username's Account</h1>
</div>
<hr class="blackHrLine"/>
<div class="col-md-5 col-md-offset-4">
    <table class="table table-bordered"
           style="height:200px; text-align:center; border:2px solid black;
           background-color:black; color:#a4c4f4">
        <tr>
            <th>Username</th>
            <td>@Model.Username</td>
            <td>Edit</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>
            <td>Edit</td>
        </tr>
        <tr>
            <th scope="row">Last Name</th>
            <td>@Model.LastName</td>
            <td>Edit</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
            <td>Edit</td>
        </tr>
    </table>
</div>