@using Honeypot.Data
@model Honeypot.ViewModels.Quote.CreateViewModel
@inject HoneypotDbContext context

<h1>Create Quote</h1>
<form asp-controller="Quote" asp-action="Create" method="post">
    <div>
        <label asp-for="Text"></label>
        <input asp-for="Text" />
        <span asp-validation-for="Text"></span>
    </div>
    <div>
        <label asp-for="AuthorId"></label>
        <select asp-for="AuthorId">
            <option selected disabled>-- Choose Author --</option>
            @foreach (var author in context.Authors.ToList())
            {
                <option value="@author.Id">@author.FirstName @author.LastName</option>
            }
        </select>
        <span asp-validation-for="AuthorId"></span>
    </div>
    <div>
        <label asp-for="BookId"></label>
        <select asp-for="BookId">
            <option selected disabled>-- Choose Book --</option>
            @foreach (var book in context.Books.ToList())
            {
                <option value="@book.Id">"@book.Title"</option>
            }
        </select>
        <span asp-validation-for="BookId"></span>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>