@using Honeypot.ViewModels.Quote
@model Honeypot.ViewModels.Quote.DetailsViewModel

<div class="card col-md-8" style="border:2px solid black">
    <div class="card-body">
        <blockquote class="blockquote mb-0" style=" border: none">
            <h2><em>"@Model.Text"</em></h2>
            <br />
            <div class="blockquote-footer text-right">
                &mdash; <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">"@Model.BookTitle"</a>, written by
                <a asp-controller="Author" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.AuthorName</a>
            </div>
        </blockquote>
    </div>
</div>