@using Honeypot.Services.Contracts
@model Honeypot.ViewModels.Book.BookDetailsViewModel

@inject IBookshelfService bookshelfService
@inject IAccountService accountService
@inject IRatingService ratingService

<div class="col-md-6 col-sm-offset-2">
    <hr class="black-line" />
    <div class="form-group">
        <h1 class="text-center text-capitalize title">@Model.Title</h1>
    </div>
    <hr class="black-line" />
    <br />
    <br />
    <div class="row form-group">
        <div class="col-md-6">
            <p class="text-left">
                <b>Rating:</b> @Model.Rating/5 <i>based on</i> <b>@Model.ReviewsCount ratings</b>
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <b>Written by <a class="black-link" asp-controller="Author" asp-action="Details" asp-route-id="@Model.AuthorId"><i>@Model.AuthorName</i></a></b>
            </p>
        </div>
    </div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <div class="row form-group">
            <form asp-controller="Rating" asp-action="Rate" method="post">
                <div class="col-md-5 col-md-offset-5">
                    <select class="form-control" name="stars">
                        @{
                            var user = this.accountService.GetByUsername(this.User.Identity.Name);
                            var userRating = this.ratingService.GetUserBookRating(user.Id, @Model.Id);
                        }
                        @if (this.ratingService.HasUserRatedBook(user.Id, @Model.Id))
                        {
                            <option disabled selected>Your current rating: @userRating.Stars</option>
                        }
                        else
                        {
                            <option disabled selected>Choose Rating</option>
                        }
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <input type="number" hidden value="@Model.Id" name="BookId" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="black-btn btn-lg center-block">Rate</button>
                </div>
            </form>
        </div>
    }
    <div class="form-group">
        <h4><b>About</b></h4>
        <hr class="black-line" />
        <p class="text-justify">@Model.Summary</p>
        <br/>
    </div>
    <div class="form-group">
        <h5><b>Genre:</b> @Model.Genre</h5>
    </div>
    <br />
    @if (this.User.Identity.IsAuthenticated)
    {
        var user = this.accountService.GetByUsername(this.User.Identity.Name);
        <div class="row form-group">
            <form asp-controller="Bookshelf" asp-action="AddToBookshelf" method="post">
                <div class="col-md-5 col-md-offset-5">
                    <select class="form-control" name="BookshelfId">
                        <option disabled selected>Add to Bookshelf</option>
                        @foreach (var bookshelf in this.bookshelfService.GetUsersBookshelves(user.UserName))
                        {
                            if (this.bookshelfService.IsBookInBookshelf(@Model.Id, bookshelf.Id))
                            {
                                <option disabled>@bookshelf.Title</option>
                            }
                            else
                            {
                                <option value="@bookshelf.Id">@bookshelf.Title</option>
                            }
                        }
                    </select>
                    <input type="number" hidden value="@Model.Id" name="BookId" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="center-block btn-lg black-btn">Add</button>
                </div>
            </form>
        </div>
    }
    <div class="form-group">
        <h4><b>Quotes</b></h4>
        <hr class="black-line" />
    </div>
    <div>
        <div>
            @foreach (var quote in @Model.Quotes)
            {
                <blockquote class="blockquote" style="border:none">
                    <div class="mb-0">
                       <em>"@quote.Text"</em>
                        <a class="black-link" asp-controller="Quote" asp-action="Details" asp-route-id="@quote.Id">
                            <p class="text-right">Details</p>
                        </a>
                    </div>
                    <br />
                </blockquote>
            }
        </div>
    </div>
</div>