@using Honeypot.Services.Contracts

@model Honeypot.ViewModels.Book.BookDetailsViewModel
@inject IBookshelfService bookshelfService
@inject IUserService userService
@inject IRatingService ratingService

<div class="col-md-6 col-sm-offset-2" style="background-color: #c2daff;">
    <div class="form-group">
        <h1 class="text-center text-capitalize" style="font-family: Comic Sans MS, serif">@Model.Title</h1>
    </div>
    <hr class="blackHrLine" />
    <div class="row form-group">
        <div class="col-md-6">
            <p class="text-left"><b>Rating:</b> @Model.Rating/5 based on <b>@Model.ReviewsCount ratings</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-right"><b>Written by <a asp-controller="Author" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.AuthorName</a></b></p>
        </div>
    </div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <div class="row form-group">
            <form asp-controller="Book" asp-action="Rate" method="post">
                <div class="col-md-10 @*col-md-offset-8*@">
                    <select class="form-control" name="stars">
                        @{
                            var user = this.userService.GetByUsername(this.User.Identity.Name);
                            var userRating = this.ratingService.FindUserBookRating(user.Id, @Model.Id);
                        }
                        @if (this.ratingService.HasUserRatedBook(user.Id, @Model.Id))
                        {
                            <option disabled selected>Your current rating: @userRating.Stars</option>
                        }
                        else
                        {
                            <option disabled selected>Choose Rating</option>
                        }
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <input type="number" hidden value="@Model.Id" name="BookId" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn blackButton">Rate</button>
                </div>
            </form>
        </div>
    }
    <div class="form-group">
        <h4><b>About</b></h4>
        <hr class="blackHrLine" />
        <p class="text-justify">@Model.Summary</p>
    </div>
    @if (this.User.Identity.IsAuthenticated)
    {
        var user = this.userService.GetByUsername(this.User.Identity.Name);
        <div class="row form-group">
            <form asp-controller="Book" asp-action="AddToBookshelf" method="post">
                <div class="col-md-10">
                    <select class="form-control" name="BookshelfId">
                        <option disabled selected>Add to Bookshelf</option>
                        @foreach (var bookshelf in this.bookshelfService.GetUsersBookshelves(user.Id))
                        {
                            if (this.bookshelfService.IsBookInBookshelf(@Model.Id, bookshelf.Id))
                            {
                                <option disabled>@bookshelf.Title</option>
                            }
                            else
                            {
                                <option value="@bookshelf.Id">@bookshelf.Title</option>
                            }
                        }
                    </select>
                    <input type="number" hidden value="@Model.Id" name="BookId" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn blackButton">Add</button>
                </div>
            </form>
        </div>
    }
    <div class="form-group">
        <h4><b>Quotes</b></h4>
        <hr class="blackHrLine" />
    </div>
    <div>
        <div>
            @foreach (var quote in @Model.Quotes)
            {
                <p class="form-group"><em>"@quote.Text"</em><a asp-controller="Quote" asp-action="Details" asp-route-id="@quote.Id"><p class="text-right">Details</p></a></p>
                <br />
            }
        </div>
    </div>
</div>